*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}


#btn{
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 30px auto;
  }


  .square{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    border: 1px solid black;
    height: 60px;
    width: calc(100% / 10);
  }

  .square-click{
    color: white;
    background-color:azure;
  }